html{
    background-color:#fff;
    margin:2% 18% 2%;
    font-size:large;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

body{
    border:5px solid #646060;
    padding:0%;
    background-color:#fff;
}

h1{
    font-weight:bold;
    text-align:center;
    color:#fff;
    background-color: #646060;
    font-stretch:expanded;
}

h2{
    text-align:center;
    font-weight:bold;
    color:white;
    background-color:#428bca;
}

div {
    margin: 2%;
}

span.apparatus{
    display:none;
    background: #646060;
}


a{
    color:#33311B;
    text-decoration:none;
}

a span{	
	display:none;
	color:#fff;
	background: #428bca;
	padding:7px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	width:175px;
	position: absolute;
	z-index:10;
}
a { display: inline-block;}
a:hover span{ display:block; }
